<app-cabecalho [texto]="textoCabecalho"></app-cabecalho>

<div class="selecionar">
  <form [formGroup]="formTime">
    <div class="input-tag">
      <label for="">Jogadores <span *ngIf="numAtletas">- {{ numAtletas }}</span></label>
      <div>
        <p 
          *ngFor="let item of formTime.value.jogadores" 
          (click)="removerAtleta(item)">{{ item.atleta }}</p>
        <input formArrayName="jogadores">
        <input 
          [(ngModel)]="atleta" 
          name="jogadores" 
          (keyup.enter)="adicionarAtleta()"
          [ngModelOptions]="{standalone: true}" 
          placeholder="{{ placeholder }}" 
          maxlength="12">
      </div>
    </div>

    <div class="input-radio">
      <label for="">Por times</label>
      <p>Quantidade de jogadores por time.</p>

      <div>
        <div class="input-radio-item" *ngFor="let item of qtdPorTimeArray.valor">
          <input 
            type="radio" 
            [id]="item" 
            [value]="item" 
            [name]="qtdPorTimeArray.name"
            formControlName="qtdPorTime">
          <label [for]="item">{{ item }}</label>
        </div>
      </div>
    </div>

    <div class="input-toggle">
      <div class="input-toggle-div">
        <label for="">Goleiro</label>
        <p>Habilitar ordem de goleiros.</p>
      </div>
      <ion-toggle formControlName="goleiro"></ion-toggle>
    </div>
  </form>

  <div class="selecionar-botao">
    <app-botao
      [texto]="textoBotao" 
      (click)="botaoConfirmar()" 
      [class.desabilitado]="!isBotaoConfirmar">
    </app-botao>
  </div>
</div>
