.selecionar {
  height: 100%;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;

  form {
    width: 100%;
    overflow: scroll;
  }

  .input-tag {
    margin-top: 0;
  }

  &-botao {
    width: 100%;
  }

  app-botao{
    margin-top: 20px;
  }
}
