.resumo {
  width: 100%;
  height: 100%;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;

  &-placar {
    margin: 0 var(--px-20);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-around;
    background-color: var(--cinza);
    color: var(--branco);
    padding: var(--px-10);

    p {
      font-size: var(--px-14);
      line-height: var(--px-14);
      font-family: var(--led);
      width: 10%;
      text-align: center;
    }

    p:first-of-type {
      color: var(--vermelho);
      width: 45%;
      text-align: right;
    }

    p:last-of-type {
      color: var(--amarelo);
      width: 45%;
      text-align: left;
    }
  }

  &-conteudo {
    overflow-y: scroll;
    padding: 0 var(--px-20);
    background: url('../../../../assets/svg/linha.svg') repeat-y center;
    margin: 0;
    margin-bottom: 60px;
  }

  &-ponto {
    width: 100%;
    height: 10px;
    background: url('../../../../assets/svg/ponto.svg') no-repeat center;
    margin: 0;
  }
}
