.resumo {
  width: 100%;
  height: 100%;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;

  &-placar {
    margin: 0 var(--px-20);
    background-color: var(--cinza);
    color: var(--branco);
    padding: var(--px-10) var(--px-20);

    div {
      font-family: var(--joystix);
      margin: 0;
      display: flex;
      justify-content: space-between;
      color: var(--vermelho);
      line-height: 1rem;
    }

    div:last-of-type {
      margin-top: 10px;
      color: var(--amarelo);
    }

    span {
      align-self: flex-end;
      font-family: var(--joystix);
    }
  }

  &-conteudo {
    overflow-y: scroll;
    padding: 0 var(--px-20);
    background: url('../../../../assets/svg/linha.svg') repeat-y center;
    margin: var(--px-20) 0 var(--px-60);
  }

  &-ponto {
    width: 100%;
    height: 10px;
    background: url('../../../../assets/svg/ponto.svg') no-repeat center;
    margin: 0;
  }
}
