.modal {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;

  &-overlay {
    height: 100%;
    width: 100%;
    background-color: var(--preto);
    position: absolute;
    animation: fade-in 0.2s cubic-bezier(.39, .575, .565, 1.000) both
  }

  &-conteudo {
    width: 100%;
    animation: slide-bottom 0.3s ease-in-out both;
  }

  &-card {
    background-color: var(--vermelho);
    border-radius: var(--canto);
    margin: var(--px-20);
    margin-bottom: 0;
    padding: var(--px-20);
    color: var(--preto);
  }

  h1 {
    margin: 0 0 var(--px-10) 0;
    font-size: var(--px-20);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: var(--opacidade)
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }
}
