.botao {
  display: flex;

  button {
    background-color: var(--verde);
    border-radius: var(--canto);
    color: var(--preto);
    font-family: var(--bold);
    height: var(--px-40);
    margin: var(--px-20);
    width: 100%;
  }
}
