.cabecalho {
  background-color: var(--preto);
  padding: 0 var(--px-20);
  line-height: 3.75rem;
  line-height: 3.75rem;
  display: flex;

  img {
    align-self: center;
    margin-right: var(--px-20);
  }

  p {
    color: var(--branco);
  }
}
