.cabecalho {
  background-color: var(--preto);
  padding: 0 var(--px-20);
  color: white;
  line-height: var(--px-40);
  display: flex;

  .svg {
    align-self: center;
    margin-right: var(--px-20);
  }
}
