.time {
  width: 100%;
  height: 100%;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: scroll;

  &-goleiro {
    width: 100%;
    color: var(--verde);
    margin:0 0 var(--px-20) var(--px-20);
  }

  &-conta {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: start;
    padding: 0 var(--px-20);
  }

  &-card {
    width: calc(50% - var(--px-10));
    padding: var(--px-10);
    border-radius: var(--canto);
    background-color: var(--azul);
    margin-bottom: var(--px-20);
    display: flex;
    flex-direction: column;
  }

  &-card:nth-child(2),
  &-card:nth-child(5) {
    background-color: var(--amarelo);
  }

  &-card:nth-child(3),
  &-card:nth-child(6) {
    background-color: var(--vermelho);
  }

  h6,
  p {
    width: 100%;
    color: var(--preto);
    margin: 0;
  }

  h6 {
    line-height: 12px;
    font-size: 12px;
    margin-bottom: var(--px-10);
  }

  &-teclado {
    margin-top: auto;
    width: 100%;
    align-self: flex-end;
    background-color: var(--preto);
  }
}
