<app-cabecalho [texto]="textoCabecalho"></app-cabecalho>

<div class="time">
  <div class="time-goleiro" *ngIf="isGoleiro">Por ordem de goleiros.</div>

  <div class="time-conta">
    <div class="time-card" *ngFor="let item of times">
      <h6>{{ item.time }}</h6>
      <p *ngFor="let a of item.jogadores">{{ a.atleta }} </p>
    </div>
  </div>

  <div class="time-teclado multi">
    <app-botao [texto]="textoBotaoNovamente" (bataoResposta)="novamente()"></app-botao>
    <app-botao [texto]="textoBotaoOK" (bataoResposta)="confirmar()"></app-botao>
  </div>
</div>