<app-cabecalho [texto]="textoCabecalho" (click)="botaoVoltar()"></app-cabecalho>

<div class="placar">
  <div class="placar-cronometro">
    <div class="placar-periodo" [class.desabilitado]="!isCronometro">{{ periodo }}T</div>

    <div class="placar-relogio" [class.desabilitado]="!isCronometro">{{ tempoCorrido }}</div>
  </div>

  <div class="placar-placar">
    <div class="placar-coluna">
      <p>{{ mandanteNome }}</p>

      <h1>{{ mandantePonto }}</h1>
    </div>

    <div class="placar-coluna">
      <p>{{ visitanteNome }}</p>

      <h1>{{ visitantePonto }}</h1>
    </div>
  </div>

  <div class="placar-teclado">
    <div class="placar-superior">
      <button class="botao-peq" [class.desabilitado]="!isCronometro" (click)="periodoTrocar()"></button>
      <button class="botao-peq" [class.desabilitado]="!isCronometro || isIniciado" (click)="relogioService.iniciar()"></button>
      <button class="botao-peq" [class.desabilitado]="!isCronometro || !isIniciado" (click)="relogioService.pausar()"></button>
      <button class="botao-peq" [class.desabilitado]="!isCronometro || !isIniciado" (click)="relogioService.parar()"></button>
      <button class="botao-peq" (click)="ajustePagina()"></button>
      <button class="botao-peq" [class.desabilitado]="!isResumo" (click)="resumoPagina()"></button>
    </div>

    <div class="placar-inferior">
      <button class="botao-peq" (click)="aumentarPonto('mandante')"></button>
      <button class="botao-peq" (click)="dimimuirPonto('mandante')"></button>
      <button class="botao-peq" (click)="dimimuirPonto('visitante')"></button>
      <button class="botao-peq" (click)="aumentarPonto('visitante')"></button>
    </div>
  </div>
</div>

<app-modal *ngIf="memoriaService.memoriaRelogio" (RespostaModal)="RespostaModal()"></app-modal>