.placar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--preto);
  padding: var(--px-20);
  padding-top: 0;

  &-placar {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    padding-bottom: var(--px-20);
  }

  &-mandante,
  &-visitante {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    p {
      text-align: center;
    }

    h1 {
      font-family: var(--digital);
      font-size: 160px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--cinza);
    }

    h1:last-of-type {
      z-index: 9;
      color: var(--amarelo);
    }
  }

  &-relogio {
    font-family: var(--digital);
    position: relative;
    width: 100%;
    height: 80px;
    padding: var(--px-20);

    p {
      font-size: 30px;
      position: absolute;
      color: var(--preto);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    p:last-of-type {
      z-index: 9;
      color: var(--azul);
    }
  }

  &-teclado {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  &-marcador {
    display: flex;

    button {
      height: var(--px-40);
      width: calc(var(--px-40)*2);
      margin: 0 var(--px-10);
      border-radius: var(--canto);
      background: var(--verde) url('../../../assets/svg/adicionar.svg') no-repeat center;
    }

    button:last-of-type {
      width: var(--px-40);
      background: var(--vermelho) url('../../../assets/svg/diminuir.svg') no-repeat center;
    }
  }

  &-marcador:last-of-type {
    button {
      width: var(--px-40);
      background: var(--vermelho) url('../../../assets/svg/diminuir.svg') no-repeat center;
    }

    button:last-of-type {
      width: calc(var(--px-40)*2);
      background: var(--verde) url('../../../assets/svg/adicionar.svg') no-repeat center;
    }
  }
}
