  <app-cabecalho [texto]="textoCabecalho"></app-cabecalho>

  <div class="placar">
    <div class="placar-conteudo">
      <div class="placar-coluna">
        <p>{{ nomeMandante }}</p>
        <div>
          <h1 (click)="adicionarMandante()">{{ placarMandanteReal }}</h1>
        </div>
      </div>

      <div class="placar-coluna">{{ placarRelogio }}</div>

      <div class="placar-coluna">
        <p>{{ nomeVisitante }}</p>
        <div>
          <h1 (click)="adicionarVisitante()">{{ placarVisitanteReal }}</h1>
        </div>
      </div>
    </div>

    <div class="placar-teclado">
      <button class="botao-peq" (click)="diminuirMandante()"></button>
      <button class="botao-peq" [class.desabilitado]="isIniciado" (click)="inicarRelogio()"></button>
      <button class="botao-peq" [class.desabilitado]="!isIniciado" (click)="pausarRelogio()"></button>
      <button class="botao-peq" [class.desabilitado]="!isIniciado" (click)="pararRelogio()"></button>
      <button class="botao-peq" (click)="ajustePagina()"></button>
      <button class="botao-peq" (click)="resumoPagina()"></button>
      <button class="botao-peq" (click)="diminuirVisitante()"></button>
    </div>
  </div>
