.placar {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--preto);

  &-mandante,
  &-relogio,
  &-visitante {
    width: 33.67%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: var(--px-20);

    p {
      font-size: var(--px-20);
      text-align: center;
      color: var(--branco);
    }

    div {
      position: relative;
      height: 70%;
      margin-bottom: 20px;
    }

    h1 {
      font-family: var(--led);
      font-size: 160px;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--cinza);
    }

    h1:last-of-type {
      z-index: 9;
      color: var(--amarelo);
    }

    button {
      align-self: center;
      height: var(--px-40);
      width: var(--px-40);
      margin: var(--px-20);
      border-radius: var(--canto);
      background: var(--vermelho) url('../../../assets/svg/diminuir.svg') no-repeat center;
    }
  }

  &-relogio {
    max-width: 150px;

    div {
      position: relative;
      background-color: var(--cinza);
      height: 60px;
      border-radius: var(--canto);
    }

    p {
      font-family: var(--led);
      font-size: 40px;
      position: absolute;
      color: var(--preto);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    p:last-of-type {
      z-index: 9;
      color: var(--azul);
    }

    app-relogio {
      justify-content: center;
      display: flex;
      margin: var(--px-20) 0;
    }
  }
}
