html,
h1 body {
  font-family: 'ww-digital';
  height: 100%;
  // letter-spacing: $espaco-letra;
  line-height: 110%;
  margin: 0;
  position: relative;
  // font-size: $fonte-primaria;
  text-transform: uppercase;
}
