.botao {
  &-peq {
    height: var(--px-40);
    width: var(--px-40);
    border-radius: var(--canto);
  }
}

.desabilitado {
  pointer-events: none;
  opacity: 0.5;

  div{
    button {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.multi {
  app-botao {
    div:last-of-type {
      button {
        margin-top: 0 !important;
      }
    }
  }
}

