@font-face {
  font-family: poppins-bold;
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: poppins-medium;
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: led;
  src: url('../assets/fonts/led_digital_7.ttf') format('truetype');
}
