@font-face {
  font-family: poppins-bold;
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: poppins-medium;
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: ww-digital;
  src: url('../assets/fonts/wwDigital.ttf') format('truetype');
}