@mixin input {
  margin: var(--px-20) var(--px-20) 0;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--px-4);
  border-bottom: 1px solid var(--branco);
}

@mixin label {
  color: var(--amarelo);
  margin-bottom: var(--px-10);
}

@mixin p {
  font-size: var(--px-14);
  flex: 1 1 auto;
  color: var(--branco);
}

.input-text {
  @include input;

  label {
    @include label;
  }

  input {
    background-color: var(--preto);
    border: 0;
    color: var(--branco);
    outline: none;
  }

  input:focus {
    border-bottom-color: var(--verde);
  }
}

.input-toggle {
  @include input;
  flex-direction: row;

  &-div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  label {
    @include label;
  }

  p {
    @include p;
  }

  ion-toggle {
    flex: 0 1 auto;
    --handle-background: var(--vermelho);
    --background: var(--vermelho);
    --background-checked: var(--verde);
    --handle-background-checked: var(--verde);
  }
}

.input-radio {
  @include input;
  padding: var(--px-4) 0 0 0;

  label {
    @include label;
  }

  p {
    @include p;
  }

  div {
    display: flex;
    flex-direction: row;
    margin-top: var(--px-4);
  }

  &-item {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      display: none;
    }

    input:checked+label {
      background-color: var(--verde);
      z-index: 9;
    }

    label {
      box-sizing: border-box;
      border-radius: var(--canto);
      color: var(--branco);
      flex: 1 1 auto;
      line-height: var(--px-30);
      margin: 0 0 var(--px-4);
      font-size: var(--px-14);
      text-align: center;
      transition: border-color .15s ease-out,
        background-color .15s ease-out,
        color .25s ease-out;
    }
  }
}
