<app-cabecalho [texto]="textoCabecalho"></app-cabecalho>

<form [formGroup]="formPlacar" class="ajuste-placar">
  <div class="input-text">
    <label for="">Time Mandante</label>
    <input type="text" placeholder="Mandante" formControlName="mandanteNome" maxlength="12">
  </div>

  <div class="input-text">
    <label for="">Time Visitante</label>
    <input type="text" placeholder="Visitante" formControlName="visitanteNome" maxlength="12">
  </div>

  <div class="input-toggle">
    <div class="input-toggle-div">
      <label for="">Cronômetro</label>
      <p>Habilitar cronômetro junto ao placar.</p>
    </div>
    <ion-toggle checked formControlName="cronometro"></ion-toggle>
  </div>

  <div class="input-radio" *ngIf="isCronometro">
    <label for="">Duração</label>
    <p>Duração de cada periodo.</p>

    <div>
      <div class="input-radio-item" *ngFor="let item of duracaoArray.valor">
        <input type="radio" [id]="item" [value]="item" [name]="duracaoArray.name"
          [checked]="item === duracaoArray.checked" formControlName="duracao">
        <label class="label" [for]="item">{{ item }}</label>
      </div>
    </div>
  </div>

  <app-botao [texto]="textoBotao" (click)="confirmar()"></app-botao>
</form>