.relogio {
  display: flex;
  justify-content: space-between;

  &-adicionar,
  &-pausar,
  &-parar {
    width: var(--px-40);
    height: var(--px-40);
    background-color: var(--verde);
    border-radius: var(--canto);
    margin: 0 var(--px-10) var(--px-10);
    background: var(--verde) url('../../../assets/svg/iniciar.svg') no-repeat center;
  }

  &-pausar {
    background: var(--verde) url('../../../assets/svg/pausar.svg') no-repeat center;
  }

  &-parar {
    background: var(--verde) url('../../../assets/svg/parar.svg') no-repeat center;
  }
}
