.resumo-item {
  display: flex;
  width: 100%;
  margin: var(--px-20) 0;
  justify-content: center;

  &-placar {
    align-self: center;
    font-family: var(--led);
    color: var(--preto);
    padding: var(--px-10);
    margin: 0 var(--px-10);
  }

  p {
    align-self: center;
    color: var(--branco);
  }
}

.mandante {
  background-color: var(--vermelho);
}

.visitante {
  background-color: var(--amarelo);
}

.gambiarra {
  color: var(--preto) !important;
}
